.title {
  font-size: 32px;
  color: #c7b8e1;
  margin-bottom: 16px;
}

.text {
  font-size: 24px;
  color: #b0b0be;
}

.comments {
  margin-top: 50px;
}

.commentsTitle {
  color: #c7b8e1;
  margin-bottom: 12px;
}


@media (width < 769px) {
  .title {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .text {
    font-size: 20px;
  }

  .commentsTitle {
    font-size: 20px;
  }
}