.commentItem {
  border: 1px solid #3a3a4a;
  border-radius: 12px;
  padding: 15px 20px 20px 15px;
  max-width: 100%;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.name {
  color: #b0b0be;
  font-size: 20px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text {
  color: #8e8e9e;
  font-size: 18px;
  margin-left: 68px;
}

@media (width < 769px) {
  .name {
    font-size: 18px;
  }

  .text {
    font-size: 16px;
    margin-left: 0;
  }
}