.header {
  height: 90px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right,
      #09091d,
      #141d38,
      #242b58,
      #331839,
      #3e2415);

  font-weight: 700;
  font-size: 36px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
  z-index: 1000;
}

@media (width < 769px) {
  .header {
    height: 70px;
    font-size: 30px;
  }
}